h1, h2
{
	background-color: #000;
	color: #fff;
}
table
{
	border: none;
}
th
{
	background-color: #999;
}
tr:nth-of-type(even)
{
	background-color: #ccc;
}

footer
{
	font-style: italic;
}

progress {
	width: 160px;
	border: 1px solid #0064B4;
	background-color:#e6e6e6;
	color: #0064B4;
}

progress::-moz-progress-bar { background: #0064B4; }
progress::-webkit-progress-bar { background: #e6e6e6; }
progress::-webkit-progress-value  { background: #0064B4; }